<div class="col-md-12 col-lg-12">
    <div class="card card-default default card-multi-action card-feature card-feature-left">
        <div class="card-img ratio ratio-16x9">
            <a href="#" class="card-img-right ratio ratio-16x9">
                <img src="{{ .image | relURL }}" alt="{{ .imageAlt | default "Card image" }}" class="card-img-right" />
            </a>
        </div>
        <div class="card-inner">
            <div class="card-body">
                <h3 class="card-title">
                    <a href="javascript:void(0)" >{{ .title }}</a>
                </h3>
                <div class="card-text">
                    {{ .text }}
                </div>
            </div>
            <div class="card-footer">
                {{ partial "call-to-action.html" (dict "link" .link)}}
            </div>
        </div>
    </div>
</div>