<form action="https://uat.forgov.qld.gov.au/search" class="site-search py-3"><!-- 
    QGDS Component: Search input 
-->
<div class="qld-search-input dark">
    <input id="search" name="query" class="form-control" type="text" autocomplete="off"
        aria-label="Search website"  data-collection="qgov~sp-search"  data-profile="qld"  data-numranks="10"  data-tiers="off"  data-suggestions="https://discover.search.qld.gov.au/s/suggest.json"  data-results-url="https://discover.search.qld.gov.au/s/search.json"  />
</div></form>