<!-- QGDS Banner Component -->
  <div class="qld-banner qld-banner-grid banner-default hero-banner dark none offset-lg-1">
    <div class="container-fluid" data-cy='hero-banner'>
      <div class="banner-inner px-0 py-4">
        <div class="banner-content banner-content-full">
          <h1 class="banner-title-wrap">
            <span class="banner-title">{{ .Params.hero.title }}</span>
          </h1>
          {{ if .Params.hero.abstract }}
          <div class="banner-abstract banner-hero-abstract">
            {{ .Params.hero.abstract }}
          </div>
          {{ end }}
          <div class="banner-cta" role="group" aria-label="Available options">
            <div class="cta-buttons">
              <a class="btn btn-primary " href="/map" data-progress-label="Loading">
                <span class="btn-label-default">{{ .Params.hero.buttonText }}</span>
                <span class="btn-label-progress">Loading</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
