<div class="qld-banner qld-banner-grid banner-default dark banner-radius" >
  <div class="container-fluid">
    <div class="banner-inner">

      <div class="banner-breadcrumbs">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/">Home</a>
                </li>
                <li
                  class="breadcrumb-item active"
                  aria-current="page"
                  data-href="#"
                >Search</li>
          </ol>
        </nav>        </div>

      <div class="banner-content">

        <h1 class="banner-title-wrap ">
          <span class="banner-title">Heritage Assets</span>
        </h1>

        <div class="banner-abstract">
            This is some information about the heritage asset search page
        </div>



      </div>

    </div>
  </div>
</div>