<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@qld-gov-au/qgds-bootstrap5@2.0.9/dist/assets/css/qld.bootstrap.css">
  <link rel="stylesheet" href="{{ "css/banner_contained.css" | relURL }}">

  <!-- Optional: Custom CSS -->
  <link rel="stylesheet" href="{{ "css/theme.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">

  <script src="https://cdn.jsdelivr.net/npm/@qld-gov-au/qgds-bootstrap5@2.0.9/dist/assets/js/bootstrap.bundle.min.js"></script>
</head>

