{{- $hdr := .Site.Params.header -}}
{{- $main := cond (isset $hdr "maincontent") $hdr.maincontent (dict) -}}

<div class="qld-header-brand">
    <a class="qld-header-link d-lg-inline-flex align-middle" aria-label="Go to homepage" href="{{ with $main.url }}{{ . }}{{ else }}{{ .Site.BaseURL }}{{ end }}">
        <div class="qld-header-brand-image align-self-center">
            {{- if $main.logo -}}
                {{- $logoSrc := $main.logo.src -}}
                {{- $logoAlt := cond (isset $main.logo "alttext") $main.logo.alttext "Queensland Government" -}}
                {{- $inlineSvg := cond (isset $main.logo "inline") $main.logo.inline false -}}
                {{- if and $inlineSvg (strings.HasSuffix $logoSrc ".svg") -}}
                    {{- $svgContent := "" -}}
                    {{- if or (strings.HasPrefix $logoSrc "http://") (strings.HasPrefix $logoSrc "https://") -}}
                        {{- with resources.GetRemote $logoSrc -}}
                            {{- $svgContent = .Content -}}
                        {{- end -}}
                    {{- else -}}
                        {{- $svgPath := printf "static/%s" $logoSrc -}}
                        {{- $svgContent = readFile $svgPath -}}
                    {{- end -}}
                    <span class="qld-header-logo" role="img" aria-label="{{ $logoAlt }}">
                        {{ $svgContent | safeHTML }}
                    </span>
                {{- else -}}
                    <img src="{{ $logoSrc | relURL }}" height="56" alt="{{ $logoAlt }}" />
                {{- end -}}
            {{- else if $main.sitetitle -}}
            <img class="qld-header-logo" height="56" alt="Queensland Government" src="{{ "img/delivering-for-qld.svg" | relURL }}">
            {{- else if $hdr.hasdeliveringforqldlogo -}}
            <img class="qld-header-logo is-delivering-for-qld" height="56" alt="Queensland Government - Delivering for Queensland" src="{{ "img/delivering-for-qld.svg" | relURL }}">
            {{- else -}}
            <img class="qld-header-logo" height="56" alt="Queensland Government" src="{{ "img/delivering-for-qld.svg" | relURL }}">
            {{- end -}}
        </div>
        {{- if $main.secondarylogo -}}
        <div class="qld-header-secondary-content">
            <img src="{{ $main.secondarylogo.src | relURL }}" class="qld-header-secondary-image qld-header-logo" height="56" alt="{{ with $main.secondarylogo.alttext }}{{ . }}{{ else }}{{ $main.sitetitle }}{{ with $main.subline }}{{ . }}{{ end }}{{ end }}" />
        </div>
        {{- else -}}
        {{- if $main.sitetitle -}}
        <div class="qld-header-secondary-content">
            <span class="qld-header-site-title">
                {{ $main.sitetitle }}
            </span>
            {{- with $main.subline -}}
            <span class="qld-header-subline">
                {{ . }}
            </span>
            {{- end -}}
        </div>
        {{- end -}}
        {{- end -}}
    </a>
</div>
