<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css" />

<!-- Slider main container -->
<div class="swiper assetSwiper"
     data-blob-url="{{ getenv "BLOB_BASE_URL" }}"
     data-config="{{ .Params.carousel.config | default "hero" }}"
     data-show-modal="{{ .Params.carousel.showmodal | default false }}"
     data-count="{{ .Params.carousel.count }}"
>
    <div class="swiper-wrapper"></div>
    <div class="swiper-loading">
        <div class="placeholder-shimmer"></div>
    </div>
    <div class="swiper-pagination"></div>
    {{ if .Params.carousel.includeButtons }}
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    {{ end }}
</div>
