{{- $promo := .Params.promoPanel -}}
{{- if $promo -}}
<section class="container" data-cy="promo-panel">
    <div class="qld-promo-panel indent  indent-img">
        <div class="row light content-right">
            <div class="image-panel">
                {{- if $promo.video -}}
                {{ partial "video-player.html" $promo.video }}
                {{- else -}}
                <img data-cy="promo-image" class="promo-panel-image" src="{{ $promo.image | default "img/promo-image.jpg" }}" alt="{{ $promo.imageAlt | default "Promotional Image" }}">
                {{- end -}}
            </div>
            <div class="content-panel dark">
                <div class="main">
                    <h2 data-cy="promo-heading">{{ $promo.heading }}</h2>
                    {{- with $promo.abstract -}}
                    <div class="promo-abstract">{{ . }}</div>
                    {{- end -}}
                    {{ $promo.content }}
                </div>
            </div>
        </div>
    </div>
</section>
{{- end -}}
