<section class="container">
    <div class="qld-promo-panel indent  indent-text">
        <div class="row light content-right" 
        >
            <div class="image-panel">
                <img class="promo-panel-image" src="img/promo-image.jpg" alt="Promotional Image">
            </div>
            <div class="content-panel dark">      
                <div class="main">
                        <h2>Discover Heritage</h2>
                        <div class="promo-abstract">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor, leo vulputate ut odio mattis.</div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor, leo vulputate ut odio mattis. Vel suspendisse mi quisque consequat aliquet egestas.            </div>
            </div>
        </div>
    </div>
</section>

