<div class="search-filter px-4 pt-4 mt-sm-4 mt-lg-0">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <h3 class="search-filter-title">Search</h3>
                <button id="help-toggle" class="btn btn-link p-2 dark" aria-expanded="true" aria-label="Toggle help">
                    <i class="qld-icon qld-icon-md qld-icon-help" aria-hidden="true"></i>
                </button>
        </div>
        <div id="result-count" class="dark text-end">
            <span></span>
        </div>
    </div>
    {{ partial "search-input.html" }}
    <div class="d-flex justify-content-end align-items-center">
        <ul id="active-filters" class="tag-list tag-dark my-0 p-0 me-4">
        </ul>
        <a id="filterToggle" href="#" class="dropdown-toggle dark" aria-expanded="false">Filters</a>
    </div>
    <div class="filter-content my-2" id="filterContent">
        <template id="filter-tab-template">
            <li class="tag-item tag-link tag-large tag">
                <a href='javascript:void(0)'></a>
            </li>
        </template>

        <template id="filter-content-template">
            <div class="content-item">
                <div></div>
            </div>
        </template>

        <ul id="filter-tabs-container" class="tag-list tag-dark p-4 my-2">
        </ul>
        <div id="tag-content">
        </div>
    </div>
</div>