<div class="search-filter px-4 pt-4 mt-sm-4 mt-lg-0">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <h3 class="search-filter-title">Search</h3>
                <button id="help-toggle" class="btn btn-link p-2 dark" aria-expanded="true" aria-label="Toggle help">
                    <i class="qld-icon qld-icon-md qld-icon-help" aria-hidden="true"></i>
                </button>
        </div>
        <div id="result-count" class="dark text-end">
            <span></span>
        </div>
    </div>
    {{ partial "search-input.html" }}
    <div class="d-flex justify-content-end align-items-center">
        <ul id="active-filters" class="tag-list tag-dark my-0 p-0 me-4">
        </ul>
        <a id="filterToggle" href="#" class="dropdown-toggle dark" aria-expanded="false">Filters</a>
    </div>
    <div class="filter-content my-2" id="filterContent">
        <ul class="tag-list tag-dark p-4 my-2">
            <li class="tag-item tag-link tag-large selected tag" data-content="record-type-content">
                <a href='javascript:void(0)'>Record Type</a>
            </li>
            <li class="tag-item tag-link tag-large tag" data-content="category-content">
                <a href='javascript:void(0)' class="tag active">Category</a>
            </li>
        </ul>
        <div id="tag-content">
            <div id="record-type-content" class="content-item active">
                <div id="filter-record-type"></div>
            </div>
            <div id="category-content" class="content-item">
                <div id="instructions"></div>
                <div id="filter-category"></div>
                <div id="filter"></div>
            </div>
        </div>
    </div>
</div>