{{ $title := .title }}
{{ $text := .text }}
{{ $showImage := .showImage }}

<div class="container">
    <div class="row">
        <div class="col-lg-{{ if $showImage }}6{{ else }}12{{ end }}">
            <h2 data-cy="text-section-heading">{{ $title }}</h2>
            <div data-cy="text-section-text">{{ $text | markdownify }}</div>
        </div>
        {{ if $showImage }}
        <div class="col-sm-8 offset-sm-2 offset-lg-0 col-lg-6">
            <figure>
                <img src="{{ .image }}" alt="{{ .imageAlt }}" width="100%" height="auto" data-cy="text-section-image">
                <figcaption>{{ .imageAlt }}</figcaption>
            </figure>
        </div>
        {{ end }}
    </div>
</div>

