<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}">
  {{- partial "head.html" . -}}
<body class="d-flex flex-column min-vh-100">
  {{ if $.Site.Params.Ga4token }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.Ga4token }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ end }}

  {{- partial "header.html" . -}}
  <div class="container radius">
    <div class="row">
      {{- partial "navbar.html" . -}}
    </div>
  </div>
  

  <main class="qld-body flex-fill" role="main">
    {{- block "main" . }}{{- end }}
  </main>

  {{- partial "footer.html" . -}}
  {{- partial "image-modal.html" . -}}

</body>
</html>
